Requirements list

1 Work normally for 4chan images.
(Feature broken in recent update to site)

2 Include option for saving each different version of the page recieved (e.g. save each html version with a timestamp in the filename)
(to save deleted posts)



Not required but nice to have:

1 Join posts from all versions of page html into one final page with all posts (possibly with indication for posts that were deleted[see 4chanx for ui
])

2 More options for recheck interval (e.g. 15, 30 mins. 2, 4, 8, 12, 24 hours)

3 Auto threads and settings data files backup (In case of crash)
4 Auto integrity checking and backup loading for above.

5